*.log
.DS_Store
node_modules
.cache
dist

.parcel-cache
.cache

.vercel

# env
.env

# the parcel built example app
www

# all config files
.*

# static files
example/static/**/*

# the cors-proxy
example/cors-proxy.js