@font-face {
	font-family:"EmilyCarroll-Regular";
	src: url(fonts/EmilyCarroll-Regular.otf);
}
@font-face {
	font-family:"TradeGothicLTStd-BdCn20";
	src: url(fonts/TradeGothicLTStd-BdCn20.otf);
}
@font-face {
	font-family:"TradeGothicLTStd-Cn18";
	src: url(fonts/TradeGothicLTStd-Cn18.otf);
}
@font-face {
	font-family:"TradeGothicLTStd-Cn18Obl";
	src: url(fonts/TradeGothicLTStd-Cn18Obl.otf);
}
img{z-index:-1;}
body {
	width: 838px;
	height: 1187px;
	margin: 0;
	border: none;
}
body > div {
	position: relative;
	overflow: hidden;
	width: 838px;
	height: 1187px;
}
.coverpage {
	vertical-align: middle;
	text-align: center;
	background-color: white;
	margin: 0px;
}
.coverimage {
	vertical-align: middle;
	text-align: center;
	background-color: white;
	height: 100%;
	margin: 0px;
}
.image {
	text-align: center;
	background-color: white;
	height: 100%;
	max-width:100%;
	margin: 0px;
	position: absolute;
	top: 0px;
}
em {
    font-style: oblique;
}
a
{
text-decoration: none;
color:inherit;
}
div.page4_item1{
	position: absolute;
	top: 152px;
	left: 138px;
	right: 0px;
width: 558px;height: 815px;}
div.page5_item1{
	position: absolute;
	top: 172px;
	left: 140px;
	right: 0px;
width: 558px;height: 760px;}
div.page7_item1{
	position: absolute;
	top: 266px;
	left: 220px;
	right: 0px;
width: 390px;height: 100px;}
div.page382_item1{
	position: absolute;
	top: 152px;
	left: 140px;
	right: 0px;
width: 560px;height: 774px;}
div.page383_item1{
	position: absolute;
	top: 175px;
	left: 144px;
	right: 0px;
width: 556px;height: 426px;}
div.page384_item1{
	position: absolute;
	top: 342px;
	left: 66px;
	right: 0px;
width: 700px;height: 513px;}
p.heading{
	font-size: 23px;
	line-height: 20px;
	text-align: center;
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	word-spacing: 1px;
	font-family:"EmilyCarroll-Regular";
}
p.justify1{
	font-size: 22px;
	line-height: 37px;
	text-align: justify;
	text-indent: 0px;
	margin-top: 38px;
	margin-bottom: 0px;
	word-spacing: -1px;
	font-family:"TradeGothicLTStd-Cn18";
}
p.justify{
	font-size: 21px;
	line-height: 37px;
	text-align: justify;
	text-indent: 0px;
	margin-top: 36px;
	margin-bottom: 0px;
	word-spacing: 1px;
	font-family:"TradeGothicLTStd-Cn18";
}
span.italic{
	font-family:"TradeGothicLTStd-Cn18Obl";
}
p.right{
	font-size: 22px;
	line-height: 37px;
	text-align: right;
	text-indent: 0px;
	margin-top: 38px;
	margin-bottom: 0px;
	font-family:"TradeGothicLTStd-Cn18";
}
p.dedication{
	font-size: 24px;
	line-height: 47px;
	text-align: center;
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	opacity:0;
	font-family:"EmilyCarroll-Regular";
}
span.font{
	font-family:"TradeGothicLTStd-BdCn20";
}
p.copyright{
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	text-indent: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	word-spacing: 2px;
	font-family:"EmilyCarroll-Regular";
}
p.copyright1{
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	text-indent: 0px;
	margin-top: 28px;
	margin-bottom: 0px;
	word-spacing: 2px;
	font-family:"EmilyCarroll-Regular";
}
.white{
color:#FFFFFF;
}