name: CI
on: [push]
jobs:
  build:
    name: Build, lint, and test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node 14
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          cache: 'npm'

      - name: Use NPM 8.x
        run: npm i -g npm@8

      - name: Install Dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Check Formatting
        run: npm run prettier:check

      - name: Test
        run: npm run test:ci

      - name: Build
        run: npm run build
